<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435114534530-r4r389epgj92ngs5aq1qs0va74trchhi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435114534530-r4r389epgj92ngs5aq1qs0va74trchhi</string>
	<key>API_KEY</key>
	<string>AIzaSyBKEsvU_6o0FRa5Vzkt1NNbmNvfR7NFF3k</string>
	<key>GCM_SENDER_ID</key>
	<string>435114534530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Saijal.ImmiCan</string>
	<key>PROJECT_ID</key>
	<string>immi-9742d</string>
	<key>STORAGE_BUCKET</key>
	<string>immi-9742d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:435114534530:ios:cb9d013f8d3151e11a769b</string>
	<key>GIDClientID</key>
	<string>435114534530-pv4iu0v1ap9smnbpn0no9cbdthjr2gq8.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.435114534530-r4r389epgj92ngs5aq1qs0va74trchhi</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
